{% extends "index.html" %}
{% load crispy_forms_tags %}
{% block content %}
    {% if form.errors %}
        <div class="alert alert-danger" role="alert">
          A simple danger alert—check it out!
        </div>
    {% endif %}

    <h1> Registro de Categoría </h1>

    <form action="{% url "guardarProducto" %}" method="POST">
        {% csrf_token %}
        {% if mensaje %}
            <div class="alert alert-success" role="alert">
              Producto registrado exitosamente!
            </div>
        {% endif %}

        {{ form|crispy }}

        <button type="submit" class="btn btn-primary">Guardar</button>
        <a class="btn btn-warning" href="{% url "listarCategoria" %}">Cancelar</a>
    </form>
{% endblock %}
